body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.dark-mode body {
  background-color: #333;
}

/*ESTILOS DE LA NAVEGACION*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
  transition: top 0.3s ease-in-out;
}

nav.scroll-down {
  top: -80px;
}

.brand-logo {
  font-size: 1.5rem;
}

nav ul li a {
  color: #fff;
}

.sidenav-trigger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .sidenav-trigger {
    display: block;
  }

  #nav-mobile {
    display: none;
  }
}

/*ESTILOS PARA EL CONTENIDO DE LA PAGINA */

.welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-section h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #2196f3;
  transition: all 0.3s ease-in-out;
}

.welcome-section p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #555;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: #2196f3;
  color: #fff;
  border-radius: 5px;
  padding: 10px 24px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #1976d2;
}

@media only screen and (max-width: 768px) {
  .welcome-section h1 {
    font-size: 3rem;
  }

  .welcome-section p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .welcome-section h1 {
    font-size: 2rem;
  }

  .welcome-section p {
    font-size: 1rem;
  }
}

.dark-mode .welcome-section h1,
.dark-mode .welcome-section p {
  color: #fff;
}

.dark-mode .btn-primary {
  background-color: #555;
  color: #fff;
}

.dark-mode .btn-primary:hover {
  background-color: #333;
}

/*ESTILOS PARA EL ABOUT DE LA PAGINA */
.about-section {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
  text-align: center;
}

.dark-mode .about-section {
  background-color: #333;
  color: #fff;
}

.about-section h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

@media only screen and (max-width: 992px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-section h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .about-section p {
    font-size: 0.9rem;
  }
}

.about-section img {
  width: 350px;
  height: 350px;
  border-radius: 300px;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .about-section img {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .about-section img {
    margin-bottom: 0.5rem;
  }
}

.dark-mode .about-section h2,
.dark-mode .about-section p {
  color: #fff;
}
/*ESTILOS PARA EL CONTACT DE LA PAGINA */
.contact-section {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
  text-align: center;
}

.dark-mode .contact-section {
  background-color: #333;
  color: #fff;
}

.contact-section h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.contact-section form {
  text-align: left;
}

.contact-section label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-section input,
.contact-section textarea {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact-section input:focus,
.contact-section textarea:focus {
  outline: none;
  border-color: #6c757d;
}

.contact-section button {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #0062cc;
}

@media only screen and (max-width: 992px) {
  .contact-section h2 {
    font-size: 2.5rem;
  }

  .contact-section p {
    font-size: 1rem;
  }

  .contact-section form {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section h2 {
    font-size: 2rem;
  }

  .contact-section input,
  .contact-section textarea {
    font-size: 1rem;
  }

  .contact-section form {
    margin-top: 2rem;
  }
}


/*ESTILOS DEL BTN DE CAMBIO DE MODOS*/

.fixed-action-btn {
  position: fixed;
  bottom: 2px;
  right: 24px;
}
.dark-mode {
  background-color: #333;
}


/*ESTILOS DEL FOOTER*/
.p-2{
  text-align: center;
  background-color: #333;
  height:50px;
  line-height:50px;
  bottom:0;
  left:0;
  width:100%;
}
.bg-dark{
  color: #fff;
}
